.cloudmeter {
  .label abbr {
    border-bottom: none;
    text-decoration: none;
  }

  .fadein                             {
    opacity:0;
    animation:fadein .25s ease-in forwards;
    animation-delay:.25s;
  }

  @keyframes fadein { 0%{opacity:0} 100%{opacity:1} }
}

.cloudmeter-about-modal-copy {
  color: $color-pf-black-300;
  margin-top: -20px;
  text-align: right;
}
